<!DOCTYPE html>
  <head>
    <title>НАРЕЗАТОР 3000</title>
  </head>
  <body>
    <!-- <marquee direction="right" scrollamount="8">НАРЕЗАТОР 3000</marquee> -->
    {{$length := len .}}
    {{if ne $length 0}}
    <div align="right">
      [<a href="/terminate">Terminate</a>]
    </div>
    
    {{end}}
    <h1>Main page</h1>
    <form
      enctype="multipart/form-data"
      action="http://localhost:8080/upload"
      method="post"
    >
      <input type="file" name="uploadingFile" accept="image/png, image/jpeg" />
      <input type="submit" value="upload" />
    </form>
    {{if eq $length 0}}
    <h4>Нет загруженых файлов</h4>
    <p><q><i>Чтобы работать с документами онлайн, их надо загрузить.</i></q> ©️ Конфуций, 228г до н.э.</p>
    {{else}}
    <h3>Загруженные файлы:</h3>
    {{end}}
    <ul>
      {{range .}}
        <li>{{base .OriginalFile}} 
          <!-- формочка для нарезки -->
          <form 
          enctype="application/x-www-form-urlencoded"
          action="http://localhost:8080/cut"
          method="post"
          >
          <input type="hidden" name="fileName" value={{.OriginalFile}} />
          Ширина: <input type="number" name="dX" placeholder="dX"/>
          Высота: <input type="number" name="dY" placeholder="dY"/> 
          <input type="submit" value="cut">
        </form>
        <!-- формочка для удаления -->
        <form 
        enctype="application/x-www-form-urlencoded"
        action="http://localhost:8080/delete"
        method="post"
        >
        <input type="hidden" name="fileName" value={{.OriginalFile}} />
        <input type="submit" value="delete">
      </form>
        {{if ne .Archive  ""}}
        <!-- формочка для скачивания -->
        <form 
          enctype="application/x-www-form-urlencoded"
          action="http://localhost:8080/download"
          method="post"
          >
          <input type="hidden" name="fileName" value={{.OriginalFile}} /> 
          <input type="submit" value="download">
        </form>
        {{end}}
      </li>
      {{end}}
    </ul>
    <!-- <marquee direction="right" scrollamount="8">НАРЕЗАТОР 3000</marquee> -->
  </body>
</html>